# Kconfig - Texas Instruments SimpleLink Family
#

config SOC_FAMILY_TM4C12X
	bool
	# omit prompt to signify a "hidden" option
	default n

if SOC_FAMILY_TM4C12X
config SOC_FAMILY
	string
	default ti_tm4c12x
endif

source "arch/arm/soc/ti_tm4c12x/*/Kconfig.soc"
