# Kconfig.series - TI tm4c TM4C123
#

config  SOC_SERIES_TM4C123
	bool "TI tm4c123 Family"
	select CPU_CORTEX_M
	select CPU_CORTEX_M4
	select SOC_FAMILY_TM4C12X
	select CPU_HAS_FPU
	select CPU_HAS_SYSTICK
	help
	  Enable support for TI tm4c12x TM4C123
