# Kconfig.soc - Texas Instruments CC32XX
#

choice
prompt "TI tm4c MCU Selection"
depends on SOC_SERIES_TM4C12X

config SOC_TM4C123GXL
	bool "TM4C123GXL"
	select HAS_TM4C123SDK

endchoice


if SOC_TM4C123GXL

config TM4C123GXL_DEBUG
	bool "Prepend debug header, disabling flash verification"
	depends on XIP
	default y if XIP
	default n if !XIP

endif # SOC_TM4C123GXL
