# Kconfig.series - TI tm4c TM4C12X
#

config  SOC_SERIES_TM4C12X
	bool "TI tm4c Family"
	select CPU_CORTEX_M
	select CPU_CORTEX_M4
	select SOC_FAMILY_TI_TM4C
	select CPU_HAS_SYSTICK
	help
	  Enable support for TI tm4c TM4C12X
